.features {
  padding: 100px 134px 142px 75px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  img:first-child {
    width: 50%;
    height: auto;
  }

  h2 {
    color: #000;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
  }

  img:last-child {
    width: 45%;
    height: auto;
  }

  h3 {
    padding-top: 25px;
    color: #7d7987;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 165%;
    margin-bottom: 20px;
  }

  button {
    margin-top: 10px;
    cursor: pointer;
    border-radius: 55px;
    border: 1px solid #458ff6;
    width: 200px;
    height: 60px;
    font-weight: 700;
    color: #458ff6;
    font-size: 18px;
    background-color: #ffffff;
    font-weight: 700;
    outline: none;

    transition: all 0.3s ease-in-out;
  }
}

.feature-info {
  max-width: 40%;
  padding-left: 10px;
}
