header {
  padding: 26px 80px 0px 80px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    cursor: pointer;
  }

  nav {
    display: flex;
    column-gap: 40px;

    span {
      text-decoration: none;
      color: #4f5665;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;

      a {
        font-weight: 700;
        color: #0b132a;
      }
    }
  }
}
