.heroSection {
  padding-top: 50px;
  margin: auto;
  display: flex;
  gap: 90px;
  display: flex;
  justify-content: center; /* Вирівнювання по горизонталі */
  align-items: center; /* Вирівнювання по вертикалі */

  img {
    width: 45%;
    height: auto;
  }

  div {
    padding-top: 60px;
  }

  h2 {
    margin-bottom: 20px;
    max-width: 450px;
    font-size: 48px;
    font-weight: 700;
    line-height: 116%;
    color: #0b132a;

    span {
      font-weight: 700;
    }
  }

  h3 {
    margin-bottom: 50px;
    max-width: 450px;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    color: #7d7987;
    line-height: 152%;
  }

  button {
    cursor: pointer;
    border-radius: 55px;
    background: #458ff6;
    border: none;
    width: 200px;
    height: 60px;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  }
}

.dots {
  position: absolute;
  top: 100px;
  left: -10px;
  width: 80px;
  height: 113px;
  background-image: url("../img/bubbles.svg");
  background-size: cover;
}
