.services {
  padding: 0px 30px 0px 30px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-items: center;
  align-items: start;
}

.service {
  background-color: white;
  border-radius: 20px;
  padding: 39px;
  text-align: center;
  height: 350px;
  width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service img {
  padding-top: 20px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Прижимає вміст до лівого краю */
  flex-direction: row;
  margin-bottom: 20px;
}

.service h3 {
  text-align: left;
  color: #000;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 233%;
}

.service p {
  text-align: left;
  color: #7d7987;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 175%;
}

.learn-more {
  text-align: center;
  margin-top: 40px;
}

.learn-more button {
  cursor: pointer;
  border-radius: 55px;
  border: 1px solid #458ff6;
  width: 200px;
  height: 60px;
  font-weight: 700;
  color: #458ff6;
  font-size: 18px;
  background-color: #ffffff;
  font-weight: 700;
  outline: none;
  transition: all 0.3s ease-in-out;
}
