.catalog-page {
  padding: 20px;
}

.search-input {
  margin-bottom: 20px;
}

.search-input input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.search-input[type="text"] {
  display: flex;
  height: 20px;
  width: 700px;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  background: rgba(239, 107, 74, 0.3);
}

/* input[type="text"] {
  display: flex;
  height: 20px;
  width: 700px;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  background: rgba(239, 107, 74, 0.3);
} */
.search-input::placeholder {
  color: #646870;
  font-family: Manrope;
  font-size: 15px;
}

.filters-container {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.filters-container label {
  font-weight: bold;
  margin-right: 5px;
}

.filters-container input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.apply-button {
  padding: 8px 16px;
  background-color: #ff7f7f;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.catalog-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.catalog-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.catalog-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.catalog-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.catalog-card p {
  margin: 5px 0;
}

.catalog-card .price {
  color: green;
  font-weight: bold;
}
