.catalogue-laptops h3 {
    display: flex;
    font-size: 2rem;
    font-weight: 500;
}


.catalogue-laptops {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.cards-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.catalog-cards {
    width: 20%; 
    margin-right: 1rem;
}

.head {
    width: 80%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}