.heroSection {
  padding-top: 50px;
  margin: auto;
  display: flex;
  gap: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 45%;
    height: auto;
    max-width: 760px;
  }

  .qwerty {
    padding-top: 40px;
  }

  h2 {
    margin-bottom: 20px;
    max-width: 450px;
    font-size: 48px;
    font-weight: 700;
    line-height: 116%;
    color: #0b132a;

    span {
      font-weight: 700;
    }
  }

  h3 {
    margin-bottom: 50px;
    max-width: 450px;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    color: #7d7987;
    line-height: 152%;
  }

  .learn-more a {
    display: inline-block;
    cursor: pointer;
    border-radius: 55px;
    background: #458ff6;
    border: none;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .learn-more a:hover {
    box-shadow: 0px 10px 100px rgb(4, 98, 250);
  }
}

.consult-button {
  display: inline-block;
  cursor: pointer;
  border-radius: 55px;
  background: linear-gradient(90deg, #458ff6, #4a90e2);
  border: none;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.consult-button:hover {
  box-shadow: 0 8px 15px rgba(12, 29, 52, 0.6);
  transform: translateY(-3px);
}

.dots {
  position: absolute;
  top: 100px;
  left: -10px;
  width: 80px;
  height: 113px;
  background-image: url("../img/bubbles.svg");
  background-size: cover;
}

@media (max-width: 1292px) {
  .qwerty {
    padding-left: 80px;
  }

  .heroSection img {
    padding-right: 60px;
  }

  /* br mobile */
  @media (max-width: 768px) {
    .qwerty {
      padding-left: 0px;
      padding-top: 10px;
    }

    .heroSection img {
      padding-right: 0px;
    }

    .heroSection {
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }

    .heroSection img {
      width: 90%;
    }

    .heroSection h2 {
      font-size: 36px;
    }

    .heroSection h3 {
      font-size: 18px;
    }
  }
}

@media (max-width: 425px) {
  .heroSection {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .heroSection img {
    width: 90%;
  }

  .heroSection h2 {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 26px;
  }

  .heroSection h3 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
  }
}
